{% comment %}
    @param {string} type - 'page' | 'post' | 'keynote'
    @param {boolean} short
{% endcomment %}

{% if include.type == 'post' or include.type == 'page' %}
<header class="intro-header">
    <div class="background">
  <nav>
    <div class="navWrapper">
      <a href="" id="logo">Under IT</a>
      <div class="right"> 
        <div id="nav-icon" id="menuIcon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="overlay">
          <div class="overlayContent">
            <a href="#" id="services">Services</a>
            <a href="#" id="work">Our work</a>
            <a href="#" id="contact">Contact</a>
            <p>Copyright 2018</p>
          </div>
        </div>
      </div>
     </div>
  </nav>
  <div class="header">
    <div class="headerWrapper">
      <h6>home</h6>
      <h1>Jhuiwery Blog</h1>
      <div class="circle blue"></div>
      <div class="square red"></div>
      <div class="triangle green"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 177.893 177.893"><defs><style>.a{fill:url(#a);}.b{filter:url(#b);}</style><linearGradient id="a" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox"><stop offset="0" stop-color="#3dbed5"/><stop offset="1" stop-color="#3dd55a"/></linearGradient><filter id="b" x="0" y="0" width="177.893" height="177.893" filterUnits="userSpaceOnUse"><feOffset dx="3" dy="3" input="SourceAlpha"/><feGaussianBlur stdDeviation="7.5" result="c"/><feFlood flood-color="#3dd55a" flood-opacity="0.396"/><feComposite operator="in" in2="c"/><feComposite in="SourceGraphic"/></filter></defs><g class="b" transform="matrix(1, 0, 0, 1, 0, 0)"><path class="a" d="M136.727,21104.928l-50.222,100h100Z" transform="translate(-8978.23 -19029.24) rotate(-25)"/></g></svg></div>
      <div class="circle orange"></div>
    </div>
  </div>
</div>
        <!--
<style type="text/css">
    header.intro-header{
        position: relative;
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');
        background: {{ page.header-bg-css }};
    }

    {% if page.header-mask %}
    header.intro-header .header-mask{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0, {{ page.header-mask }});
    }
    {% endif %}
</style>
    -->
</header>
{% endif %}

{% if include.type == 'post' %}
{% if page.header-style == 'text' %}
<header class="intro-header style-text" >
{% else %}
<header class="intro-header" >
{% endif %}
    <div class="header-mask"></div>
    {% if page.header-img-credit %}
    <div class="header-img-credit">
        Image by <a href="//{{page.header-img-credit-href}}">{{page.header-img-credit}}</a>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %} always create a h2 for keeping the margin {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}

{% if include.type == 'keynote' %}
<style type="text/css">
    header.intro-header{
        height: 500px;
        overflow: hidden;
    }
    header.intro-header .container{
        visibility: hidden;
    }
    header iframe{
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>
<header class="intro-header" >
    <iframe src="{{page.iframe}}"></iframe>
    <!-- keep for SEO -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %} always create a h2 for keeping the margin {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}
                        on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}

{% if include.type == 'page' %}
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
  <div class="header-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% if include.short %}
        <div class="site-heading" id="tag-heading">
        {% else %}
        <div class="site-heading">
        {% endif %}
          <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          <span class="subheading">{{ page.description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endif %}
